.messenger {
    height: calc(100vh - 70px);
    display: flex;
  
  }
 
  .chatMenu {
    flex: 3.5;
    /* height: 100vh; */
    /* overflow: auto */
  }
  .chatMenuWrapper{
    overflow: auto;
  }

  .chatMenuInput {
    width: 95%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  .chatMenuInput:focus{
    outline: none;
  }
  .chatBox {
    flex: 6.0;

  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-left: 10px;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
    resize: none;
  }
  .chatMessageInput:focus{
    outline:none
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(10, 163, 156);
    color: white;
  }
  
  .chatOnline {
    flex:3.0;
  }
  .onlineImg{
      width:300px;
      height:300px;
      object-fit: cover;
  }
  .onlineImg2{
    width:300px;

    object-fit: cover;

}
  .imgHr{
  margin-right: 10px;
  }
  .chatMenuWrapper,
  .chatBoxWrapper {
    padding: 10px;
    padding-top:0px ;

    height: 100%;
   
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
   
  
  
  
    .chatOnline{
     display: none;
    }
  }