.post{
   
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.27); 
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.27);
    margin: 30px 0;
}
.postWrapper{
    padding:10px
}
.postTop{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImg{
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit: cover;
    cursor: pointer;
}
.postUsername{
    font-size:15px;
    font-weight:500;
    margin: 0 5px;
}
.postDate{
    font-size:10px;
    margin-top: 2px;
}
.postCenter{
    margin:20px 0;
}
.postImg{
    margin-top: 20px;
    width:100%;
    max-height: 500px;
    object-fit: contain;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.likeIcon{
    width: 24px;
    height:24px;
    margin-right:5px;
    cursor: pointer;
}
.postLikeCounter{
    font-size: 12px;
}
.postCommentText{
    cursor: pointer;
    border-bottom:1px dashed gray ;
    font-size: 12px;    
}
.bts1{
  cursor: pointer;
  color:rgb(0, 160, 152)
}
.bts{
  color: rgb(226, 77, 107) !important;
  cursor: pointer;
}
  
  .three-dots:after {
    cursor: pointer;
    color: black;
    content: '\2807';
    font-size: 20px;
    padding-left: 18px;
    margin-right: 10px;
  }
  
   .imp{
    text-decoration: none;
    color: white;
    font-weight: 100;

  }
   
  .newbtn { 
     padding: 4px; 
     border: none;
     outline: none;

     color:red;
   } 
   .newbtn:hover{
    background-color: red;
    color: white;
    transition: 200ms;
   }
  
  .dropdown {
    position: absolute; 
    background-color:white;
    box-shadow: 0px 0px 3px 3px rgb(112, 108, 108);
    outline: none;
    opacity: 0;
   
    /* z-index: -1; */
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s; 
    max-height: 5s;
  }
 
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    /* z-index: 100; */
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s;
     max-height: 0.2s;
  }